body {
    display: flex;
    background-color: rgb(124, 206, 240);
    
}


.container {
    display: contents;  
    height: 100vh;
}

.img-container {
    flex: 1; 
    padding: 160px; 
    box-sizing: border-box; 
}

.img {
    max-width: 100%; 
    height: auto;
    padding: 20px;
}

.chart-container {
    flex: 1; 
    padding: 20px; 
    box-sizing: border-box; 
}

.square {
    width: 400px;
    height: 300px;
    background-color: rgb(255, 255, 255);
    position: relative; 
}

.square1 {
    height: 360px;
    width: 320px;
    background-color: rgb(255, 255, 255);
    position: relative; 
}

.sleep-chart {
    margin-top: 180px;
    width: 300px;
    height: 200px;
}

.talen-chart {
    margin-top: 83px;
    width: 300px;
    height: 300px;
}

